//! Make sure <label> tag is being after the input
$main-color: #fff;

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	cursor: pointer;
	+ label {
			display: inline-flex;
			align-items: center;
			user-select: none;
			cursor: pointer;
			font-size: 18px;
			&::before {
					content: "";
					display: inline-block;
					height: 18px;
					aspect-ratio: 1;
					flex-shrink: 0;
					flex-grow: 0;
					border: 1px solid #adb5bd;
					border-radius: 5px;
					margin: 0 8px 0 0;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 60%;
					transition: 0.1s ease-in-out;
			}
	}
	&:checked + label::before {
			border-color: $main-color;
			background-color: $main-color;
			background-image: url("./icons/checkmark.svg");
	}

	&:not(:disabled):not(:checked) + label:hover::before {
			border-color: $main-color;
	}
}

.ymaps-2-1-79-map-copyrights-promo {
	display: none;
}

.ymaps-2-1-79-controls__control {
	inset: 50svh auto auto 10px;
	transform: translateY(-50%);
}